/*font-family: "Roboto", sans-serif*/
/*font-family: "Raleway", sans-serif*/

/* #region footer */

.page-footer .container {
  display: flex;
  align-items: baseline;
}

.social-media-container {
  margin-left: 120px;
  margin-right: 80px;
}

.subscription-container {
  margin-left: auto;
}

/* #endregion footer */

/* #region backdrop */
.backdrop {
  position: fixed;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.popup-review {
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 72px 24px 0px 24px;
  position: relative;
}
.close-popup {
  position: absolute;
  top: 24px;
  right: 24px;
  line-height: 0;
  padding: 0;
  height: 24px;
  width: 24px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  fill: #2e2f42;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-popup:hover,
.close-popup:focus {
  background-color: #404bbf;
  border: #404bbf;
  fill: white;
}
.close-button {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.leave-review-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  width: 360px;
  margin-bottom: 16px;
}

.field-wrapper {
  margin-bottom: 8px;
}

.label-field {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.field-wrapper-inner {
  position: relative;
}
.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: #2e2f42;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-field {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 0 10px 0 38px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  outline: none;
  background-color: #fcfcfc;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-field-wrapper {
  margin-bottom: 16px;
}
.comment-field {
  display: block;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  outline: none;
  resize: none;
  background-color: #fcfcfc;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-field::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.text-field:focus,
.comment-field:focus {
  border-color: #4d5ae5;
  outline: none;
}
.text-field:focus ~ .input-icon {
  fill: #4d5ae5;
}
.comment-field-wrapper {
}
.terms-field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.custom-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid;
  border-radius: 2px;
  border-color: rgba(46, 47, 66, 0.4);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-icon {
  opacity: 0;
}
.input-checkbox:focus + .terms-field .custom-checkbox > .check-icon {
  opacity: 1;
}

.input-checkbox:checked + .terms-field .custom-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: #404bbf;
}

.privacy-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
  transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy-link:hover,
.privacy-link:focus {
  text-decoration: none;
}
.submit-button {
  border-radius: 4px;
  width: 169px;
  height: 56px;
  padding: 16px 32px;
  display: block;
  margin: 24px auto 24px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-button:hover,
.submit-button:focus {
  background-color: #404bbf;
}
/* #endregion backdrop */
